.main-cont {
  display: flex;
  min-height: 200px;
  height: 100%;
  border: 1px solid black;
}
.main-cont:hover {
  padding: 2px;
  border: 2px solid chartreuse;
}
.onLeft {
  width: 50%;
  min-height: 100%;
}
.btns-color {
  background-color: darkgray;
  color: white;
  height: 30px;
  outline-color: coral;
  border: 1px solid grey;
}
.onRight {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  max-width: 75%;
}
.about-btns {
  display: flex;
  justify-content: flex-end;
}
.about-btns-left {
  display: flex;
  justify-content: flex-start;
}
.drop {
  background-color: white;
  color: black;
  padding: 6px;
  margin: 0px;
}
.drop:hover {
  background-color: tomato;
  color: white;
}
.alignment {
  display: flex;
  height: 30px;
  justify-content: space-between;
}
.inner-cont {
  margin: 0px 0px 0px 0px;
  text-align: justify;
}
