.poster{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:640px;
    background-size: 100% 100%;
}
.containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    width: 100%;
    min-height: 600px;
}
.firstIn{
    width:99%;
    height:40px;
    font-family: 'Poppins';
    border: none;
    margin-top: -15px;
    border-radius: 5px;
    outline: none;
    box-shadow: 3px 3px 3px 3px #888888;
}
.textArea{
    min-width: 99%;
    min-height:200px;
    border-radius: 5px;
    padding-top: 1%;
    font-family: 'Poppins';
    outline: none;
    box-shadow: 3px 3px 3px 3px #888888;
}
.send-btn{
    width:28%;
    border-radius: 5px;
    margin-top: 2%;
    border: none;
    outline: none;
    height:35px;
    background-color: #800000;
    color:white;
}
.live-btn{
    width:42%;
    border-radius: 5px;
    margin-top: 2%;
    border: none;
    outline: none;
    height:35px;
    background-color: #800000;
    color:white;
}
.divide{
    min-width: 48.2%;

    margin-right: 2%;
    min-height: inherit;
}
.halves{
    width:100%;
    height:40px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'Poppins';
    border: none;
    outline: none;
    box-shadow: 3px 3px 3px 3px #888888;
}
.xyz{
    display: flex;
    margin-top:1%;
    flex-direction: row;
}
.block{
display: flex;
width: 40%;
flex-direction: column;
min-height: 100%;
margin-right: 2%;
}
.extra{
    
    
    padding-top: 10%;
    text-align: left;
}
.posterText{
    color: white;
    display: flex;
    max-width: 53%;
    flex-direction: column;
}

.posterHeading{
    color: white;
    font-size: 75px;
    font-weight: 900px;
}
@media only screen and (max-width: 600px) {
    .poster{
        height:220px;
    }
    .headings{
        font-size: 15px;
    }
    .posterHeading{
        font-size: 17px;

    }
    .posterbtn{
        font-size: 9px;

    }
    .heading{
        font-size: 9px;
    }
    .divide{
        width: 100%;
    }
    .containers{
        flex-direction: column-reverse;
        width: 100%;
    }
    .block{
        width: 95%;
        margin-left: 1%;
    }
    .xyz{
        flex-direction: column;
    }
}