.App {
  min-height: 800px;
}
.todos {
  height: 100%;
  width: 35%;
  margin: 10px;
}
.drag {
  background-color: silver;
  width: 100%;

  z-index: 101;
  min-height: 100px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.inputs {
  width: 20%;
  margin: 10px;
  min-height: 100%;
}
.borders:hover {
  border: 2px solid chartreuse;
}
.showTop {
  /* margin-top: -2.5vh; */
  /* display: none; */
}
.show {
  display: none;
}
.borders:hover .show {
  display: block;
}
.borders:hover .showTop {
  display: block;
}
.done {
  height: 100%;
  max-height: 620px;
  overflow-y: scroll;
  min-width: 45%;
  width: 100%;
  margin: 10px;
}
