.App {
  min-height: 800px;
}
.todos {
  min-height: 100%;
  width: 30%;
  margin: 10px;
  border: 1px solid black;
}
.drag {
  background-color: silver;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs {
  width: 20%;
  margin: 10px;
  min-height: 100%;
}
.done {
  min-height: 100%;
  min-width: 50%;
  width: 80%;
  margin: 10px;
  border: 1px solid black;
}
