.footer{
    margin-top: 20px;
    width:100%;
    padding-top:20px;
    min-height:290px;
    background-color: black;
    color: white;
}
.flexs-rows{
display: flex;
min-height: 10px;
padding:20px 20px 20px 20px;
justify-content: center;

}
.flexs-rows-last{
    display: flex;
    min-height: 10px;
    padding:20px 20px 20px 20px;
    justify-content: center;
    
    }
.flexs-rows-icons{
    display: flex;
    min-height: 10px;
    padding:20px 20px 20px 20px;
    justify-content: center;
    
    }
.link{
    color:white;
    margin-right: 60px;
}
.link2{
    color:white;
    margin-right: 60px;
}
.lefts{
    width:60%;
    padding-left: 134px;
    
    min-height:40px;
}
.rights{
    width:40%;
    
    min-height:40px;
    display: flex;
}
@media only screen and (max-width: 600px) {
    .flexs-rows{
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
    .flexs-rows-icons{
        flex-direction: row;
        justify-content: center;
        text-align: center;

    }
    .flexs-rows-last{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

    }
    .rights{
        vertical-align: top;
        width: 100%;
        padding: 0;
        margin-left:0px;

    }
    .lefts{
        vertical-align: bottom;
        width:100%;
        padding: 0;
        bottom: 0px;
        font-size: 8px;
        position: relative;
        margin-left:0px;
    }
    .link{
        margin-left: 60px;
    }
    .link2{
        margin-left:30px;
        margin-right:0px;
        font-size: 10px;
    }
    
    
}