.hidden {
  display: none;
  width: 70%;
  height: 100%;
}
.todo-main {
  display: flex;
  justify-content: flex-end;
}
.todo-inner {
  width: 30%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.todo-items {
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  height: 50px;
}
.border-cont:hover {
  border: 2px solid chartreuse;
}
.todo-items:hover {
  background-color: chartreuse;
}
